body {
    font-family: 'Merriweather', serif;
    margin: 0;
    text-align: center;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 0;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size:2.5rem;
    font-weight: lighter ;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    font-size:1.5rem;
}

p {
    line-height: 2;
}

.intro {
    width: 40%;
    margin: auto;
}

#myName {
    margin-block-start: 0;
}

#pro {
    color:red;
    font-weight: bold;
}

/* =================================================================
Class Style
*/

.container-header {
    background-color:aquamarine;
    padding-top:100px;
    position: relative; 
}

.skill-row {
    margin:100px auto;
    width:50%;
    text-align:left;
}

hr {
    width: 5%;
    border: dotted gray 10px;
    border-bottom: none;
    margin:50px auto;
}

.skills-img {
    margin:0 20px 20px 0;
    float: left;
    width:30%;
}

.right {
    margin:0 0 20px 20px;
    float: right;
}

/* .container-content {
    background-color:red;
    height: 200px;
    margin:0 auto;
    width:200px;
}
*/

.container-footer {
    margin-top:100px;
    padding-top:20px;
    background-color:#11999E;
    height:5.625rem;
    width:100%;
}

/* 
Styles for Images
*/

#cloudTop {
    position: absolute;
    right:15%;
    top:50px;
} 

#cloudBottom {
    bottom:300px;
    left:15%;
    position: absolute;
}

#papadanzakir {
    padding-top:20px;
    width:200px;
}

.contact-message {
    width: 50%;
    margin: 40px auto 60px;
}

.myButton {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	background-color:#33bdef;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}
.myButton:hover {
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	background-color:#019ad2;
}
.myButton:active {
	position:relative;
	top:1px;
}

.craftedBy {
    color:white;
}

a {
    color:black;
    margin:0 20px;
    text-decoration: none;
}

a:hover {
    color:white;
}
        